NEXT_PUBLIC_API_URL=http://localhost:3002/api/v1
NEXT_PUBLIC_CDN_URL=http://localhost:9001/voxora-widget/v1/voxora.js?v=2
NEXT_PUBLIC_SOCKET_URL=http://localhost:3002
NEXT_PUBLIC_ENV=dev
VITE_API_URL=http://localhost:3002/api/v1
VITE_SOCKET_URL=http://localhost:3002
VITE_CDN_URL=http://localhost:9001/voxora-widget/v1/voxora.js?v=2
VITE_INTERAONE_MODE=self-host
VITE_INTERAONE_EE_ENABLED=false
VITE_INTERAONE_EE_MODULE_PRESENT=true
VITE_INTERAONE_LICENSE_KEY=